<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mm.ouvefacil">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="domain.view.FormularioAdministrador" />
        <activity android:name="domain.model.Administrador" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="domain.view.Cadastros" />
        <activity android:name="domain.view.FormularioUsuario" />
        <activity android:name="domain.view.FormularioUf" />
        <activity android:name="domain.view.FormularioSubCategoria" />
        <activity android:name="domain.view.FormularioCategoria" />
        <activity android:name="domain.view.ListarAdministrador" />
        <activity android:name="domain.view.FormularioCidade" />
        <activity android:name="domain.view.ListarCidade" />
        <activity android:name="domain.view.FormularioBairro" />
        <activity android:name="domain.view.ListarBairro" />
        <activity android:name="domain.view.ListarUsuario" />
        <activity android:name="domain.view.ListarUf" />
        <activity android:name="domain.view.ListarCategoria" />
        <activity android:name="domain.view.ListarSubCategoria"></activity>
    </application>



</manifest>